<div class="container">
  <h1>Enter Student Info</h1>
  <mat-divider></mat-divider>
  <br><br>
  <form [formGroup]="registrationForm">
<!--    student name-->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        type="text"
        name="name"
        matInput
        formControlName="name"
        placeholder="name"
      />
      <mat-error *ngIf="name && name.invalid && name.touched">
        name is required
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    roll-->
    <mat-form-field appearance="fill">
      <mat-label>Roll no</mat-label>
      <input
        type="number"
        name="roll"
        matInput
        formControlName="roll"
        placeholder="roll no"
      />
      <mat-error *ngIf="roll && roll.invalid && roll.touched">
        roll is required
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    reg-->
    <mat-form-field appearance="fill">
      <mat-label>Reg no</mat-label>
      <input
        type="number"
        name="reg"
        matInput
        formControlName="reg"
        placeholder="reg no"
      />
      <mat-error *ngIf="reg && reg.invalid && reg.touched">
        reg is required
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    email-->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="text"
        name="email"
        matInput
        formControlName="email"
        placeholder="email"
      />
      <mat-error *ngIf="email && email.invalid && email.touched">
        email is required
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    department-->
    <mat-form-field appearance="fill">
      <mat-label>Department</mat-label>
      <input
        type="text"
        name="department"
        matInput
        formControlName="department"
        placeholder="department"
      />
      <mat-error *ngIf="department && department.invalid && department.touched">
        department is required
      </mat-error>
    </mat-form-field>
    <br><br>
<!--    semester-->
    <mat-form-field appearance="fill">
      <mat-label>Semester</mat-label>
      <input
        type="text"
        name="semester"
        matInput
        formControlName="semester"
        placeholder="semester"
      />
      <mat-error *ngIf="semester && semester.invalid && semester.touched">
        semester is required
      </mat-error>
    </mat-form-field>
    <br>
    <!--    submit-->
    <button mat-raised-button
            [disabled]="registrationForm.invalid"
            (click)="onSubmit(registrationForm.value)"
            color="primary"
    >Save
    </button>

  </form>
</div>
